@{
    ViewData["Title"] = "Login";
}

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <div class="container">
        <h1>Login</h1>
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label for="Email">Email:</label>
                <input class="col-sm-8" id="email" name="email" value="" type="text" /><br />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="col-sm-8" id="password" name="password" value="" type="password" /><br />
            </div>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-danger" style="color:red">@TempData["Message"]</div>
            }
            <button type="submit" value="Login" class="btn btn-primary">Login</button>
            <button asp-controller="SignUp" asp-action="Confirm">Sign Up</button>
        </form>
    </div>

    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-image: url('https://thuthuatnhanh.com/wp-content/uploads/2021/12/background-cay-xanh-ve-don-gian-dep.jpg');
            background-size: cover;
            background-position: center;
        }

        .container {
            background-color: hsl(120,20%,90%);
            max-width: 500px;
            margin: 0 auto;
            padding-top: 50px;
        }

        h1 {
            text-align: center;
        }

        form {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            button[type="submit"]:hover {
                background-color: #45a049;
            }

    </style>
</body>
</html>