@model BusinessObject.DataAccess.Image

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="AlbumId" class="form-control" value="@ViewData["AlbumId"]" type="hidden" />
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlImage" class="control-label"></label>
                <input asp-for="UrlImage" class="form-control" type="file" name="file" id="fileInput" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function validateForm() {
            var fileInput = document.getElementById('fileInput');
            if (fileInput.files.length === 0) {
                alert('Please select a file');
                return false;
            }
            return true;
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
